
app-template-one table {
  border: 5px solid red;
}
app-template-two table {
  border: 5px solid green;
}

.table tr {
  background: red;
}

app-prestation {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  tr {

  }
}
.state-option {
  color:orangered;
}
.state-annule {
  color:red;
}
.state-confirme {
  color:green;
}
.state-facture {
  color:blue;
}
.state-encaisse {
  color:purple;
}


